<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secret Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-4/css/bootstrap.min.css') }}">
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-4 offset-md-4" style="position: absolute;background:black;border-radius:10px;">
                <h2 style="text-align:center;color:yellow;font-size:6rem">&nbsp; N01</h2>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <div id="star_join_btns">
        <div id="start_btn">
            <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#StartNewChatModal">
                Start Chat
            </button>
        </div>
        <div id="join_btn">
            <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#JoinChatModal">
                Join Chat
            </button>
        </div>
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="StartNewChatModal" tabindex="10" role="dialog" aria-labelledby="StartNewChatModalTitle" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Your name and room key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('start_chat') }}" method="POST" autocomplete="off">
                <div class="modal-body">            
                    <input type="text" class="username form-control" name="username" placeholder="Hacker Name (Max 9 letters)" id="usern" maxlength="9">
                    <input type="text" class="room form-control" name="room_key" placeholder="Room Key" id="room_k" readonly="readonly">
                    <button type="button" class="btn" id="make_key" onclick="make_room_key()">Generate Key</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Start Chat</button>
                </div>
            </form>
            
            </div>
        </div>
    </div>

    <div class="modal fade" id="JoinChatModal" tabindex="10" role="dialog" aria-labelledby="JoinChatModal" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Your name and room key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('start_chat') }}" method="POST" autocomplete="off">
                <div class="modal-body">            
                    <input type="text" class="username form-control" name="username" placeholder="Hacker Name (Max 9 letters)" id="usern" maxlength="9">
                    <input type="text" class="room form-control" name="room_key" placeholder="Room Key" id="room_k_join" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Start Chat</button>
                </div>
            </form>
            
            </div>
        </div>
    </div>
    
    <script>
        function make_room_key() {
            var key = "";
            var possible = "!@#$%&*ABCDEFGHIJKLMNOPQRSTUVWXYZ@#%&$abcdefghijklmnopqrstuvwxyz@#&%$0123456789!@#$%&*";

            for (var i = 0; i < 12; i++)
                key += possible.charAt(Math.floor(Math.random() * possible.length));
            document.getElementById('room_k').value = key
            console.log(key)
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static',filename='styles/bootstrap-4/js/bootstrap.min.js') }}"></script>
</body>
</html>